# Función map()

In [1]:
numeros = [2,5,10,23,50,33]
def doblar(numero):
    return numero*2

map(doblar,numeros)

In [5]:
m = map(doblar,numeros)

In [3]:
next(m)

4

In [6]:
list(m)

[4, 10, 20, 46, 100, 66]

In [7]:
list(map(lambda x:x*2, numeros))

[4, 10, 20, 46, 100, 66]

In [8]:
a = [1,2,3,4,5]
b=[6,7,8,9,10]
list(map(lambda x,y:x*y, a,b))

[6, 14, 24, 36, 50]

In [9]:
c = [11,12,13,14,15]
list(map(lambda x,y,z:x*y*z, a,b,c))

[66, 168, 312, 504, 750]

In [10]:
class Persona:
    def __init__(self, nombre,edad):
        self.nombre=nombre
        self.edad=edad
    def __str__(self):
        return "{} de {} años".format(self.nombre,self.edad)

personas = [
    Persona("Irwin",27),
    Persona("Pedro",16),
    Persona("Luis",36),
    Persona("Eduardo",15)
]

In [11]:
def incrementar(persona):
    persona.edad+=1
    return persona

personas=map(incrementar,personas)

In [12]:
for persona in personas:
    print(persona)

Irwin de 28 años
Pedro de 17 años
Luis de 37 años
Eduardo de 16 años

In [13]:
personas = [
    Persona("Irwin",27),
    Persona("Pedro",16),
    Persona("Luis",36),
    Persona("Eduardo",15)
]
personas = map(lambda persona:Persona(persona.nombre,persona.edad+1), personas)

In [14]:
for persona in personas:
    print(persona)

Irwin de 28 años
Pedro de 17 años
Luis de 37 años
Eduardo de 16 años