In [1]:
v = "otro texto"
n = 10
print("un texto", v, "y un numero",n)

un texto otro texto y un numero 10

In [3]:
c = "un texto '{}' y un numero '{}'".format(v, n)
c

"un texto 'otro texto' y un numero '10'"

In [4]:
print(c)

un texto 'otro texto' y un numero '10'

In [6]:
 print("un texto '{1}' y un numero '{0}'".format(v, n))

un texto '10' y un numero 'otro texto'

In [8]:
print("un texto '{v}' y un numero '{n}'".format(v=v, n=n))

un texto 'otro texto' y un numero '10'

In [9]:
print("{v},{v},{v}".format(v=v))

otro texto,otro texto,otro texto

In [10]:
print("{:>30}".format("palabra")) # Alineamiento a la derecha en 30 caracteres

                       palabra

In [13]:
print("{:30}".format("palabra")) # Alineamiento a la izquierda en 30 caracteres

palabra

In [14]:
print("{:^30}".format("palabra")) # Alineamiento al centro en 30 caracteres

           palabra

In [15]:
print("{:.3}".format("palabra")) # Truncamiento a 3 caracteres

pal

In [16]:
print("{:>30.3}".format("palabra")) # Alineamiento a la derecha en 30 caracteres con truncamiento de 3

                           pal

In [18]:
# Formateo de numeros enteros, rellenados con espacios
print("{:4d}".format(10))
print("{:4d}".format(100))
print("{:4d}".format(1000))

  10
 100
1000

In [19]:
# Formateo de numeros enteros, rellenados con ceros
print("{:04d}".format(10))
print("{:04d}".format(100))
print("{:04d}".format(1000))

0010
0100
1000

In [24]:
# Formateo de numeros flotantes, rellenados con espacios
print("{:7.3f}".format(3.1415926))
print("{:7.3f}".format(153.21))

  3.142
153.210

In [25]:
# Formateo de numeros flotantes, rellenados con ceros
print("{:07.3f}".format(3.1415926))
print("{:07.3f}".format(153.21))

003.142
153.210

In [26]:
nombre = "Irwin"
cadena = f"Hola {nombre}"
print(cadena)

Hola Irwin